<div class="container">
  <form action="" class="form-group">
    <div class="container">
      <div class="container mt-3" >
        <div class="row">
          <div class="col-md-12">
            <div class="card-header">
              <h1 class="text-center">Ajout d'un Article</h1>
            </div>
            <div class="card col-sm-12 col-md " >
              <div class="card-body">

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label >Titre </label>
                      <input type="text"  name="reference" required minlength="3" class="form-control" [(ngModel)]="article.titre">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label >Mot Clés </label>
                      <input type="text"  name="reference" required minlength="3" class="form-control" [(ngModel)]="article.motCle">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label >Indexation</label>
                    <select class="custom-select" name="indexation" [(ngModel)]="article.indexation.reference" >
                      <option>choisir l'indexation...</option>
                      <option selected *ngFor="let d of indexations" [value]="d.reference  " ngDefaultControl >{{d.libelle}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group ">
                  <div class="row">
                    <div class="col-md-6">
                      <div *ngIf="currentFile" class="progress">
                        <div
                          class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar"
                          attr.aria-valuenow="{{ progress }}"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: progress + '%' }"
                        >
                          {{ progress }}%
                        </div>
                      </div>

                      <div class="form-field col-lg-6">
                        <input type="file" (change)="selectFile($event)" [(ngModel)]="article.file" name="pdf">
<!--                        <button class="btn btn-btn" [disabled]="!selectedFiles" (click)="upload()"> <i class="fa fa-download"> Télécharger </i> </button>-->
                      </div>

                      <div class="alert alert-light" role="alert">{{ message }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-info btn-block"  (click)="save()" >Save</button>
            </div>
          </div>
          <div class="card" >
            <div class="card-header"><h2 class="text-center" > Liste des Articles</h2></div>
            <table class="table table-striped table-hover">
              <thead>
              <th>file</th>
              </thead>
              <tbody>
              <tr  *ngFor="let a of articles">
                <td>{{a.file}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
