
  <mat-tab-group>
    <mat-tab   label='Doctorants Inscrient' >
      <app-liste-doctorant></app-liste-doctorant>
    </mat-tab>
    <mat-tab  >
      <ng-template mat-tab-label >
        Demande D'inscription
        <mat-icon [hidden]="nouveaux.length == 0" matBadge="{{nouveaux.length}}" matBadgeColor="warn" class="material-icons ml-1" > notification_important</mat-icon>
      </ng-template>
      <div [hidden]="nouveaux.length === 0" >
        <app-list-nv-inscrit></app-list-nv-inscrit>
      </div>
      <div [hidden]="nouveaux.length !== 0" class="text-center mt-5" >
        <img src="../../../../assets/images/notification.PNG" alt="image notification">
        <p class="notification">
        Cette boite est vide pour le moment
        </p>
      </div>
    </mat-tab>
    <mat-tab  >
      <ng-template mat-tab-label >
        Demandes En attente de confirmation des doctorants
        <mat-icon [hidden]="attente.length == 0" matBadge="{{attente.length}}" matBadgeColor="warn" class="material-icons ml-1" > notification_important</mat-icon>
      </ng-template>
      <div [hidden]="attente.length === 0" >
        <app-list-en-attente></app-list-en-attente>
      </div>
      <div [hidden]="attente.length !== 0" class="text-center mt-5" >
        <img src="../../../../assets/images/notification.PNG" alt="image notification">
        <p class="notification">
          Cette boite est vide pour le moment
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>

