<form action=""[formGroup]="etablissementForm"(ngSubmit)="save()">
<div class="container align">
  <div class="container color" >
    <mat-icon class="maticonsize" color="primary">control_point</mat-icon>
    <div class="container">
      <mat-form-field  floatLabel="auto">
        <mat-label>Reference</mat-label>
        <input type="text" matInput required [formControl]="requiredFormControlreference" [(ngModel)]="etablissement.reference">
        <mat-error *ngIf="requiredFormControlreference.hasError('required')">
          champ <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field floatLabel="auto">
        <mat-label>nom</mat-label>
        <input type="texte" matInput required  [formControl]="requiredFormControlnom" [(ngModel)]="etablissement.nom">
        <mat-error *ngIf="requiredFormControlnom.hasError('required')">
         champ <strong>obligatoire</strong>
        </mat-error>

      </mat-form-field>
    </div>
    <div class="container">
      <button mat-raised-button class="btnsize mt-3" color="primary"><mat-icon >done</mat-icon> Enregistrer</button>
    </div>
    <mat-error >
      {{no}}
    </mat-error>
  </div>

</div>
</form>


