
<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card col-sm-12 col-md-12 " >
        <div class="card-header">
          <h1 class="text-center">Ajout d'un Etablissement</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label >Reference </label>
                  <input type="text" id="reference" #reference name="reference" pattern="[a-zA-Z]+[a-zA-Z]+[a-zA-Z]" required minlength="3" class="form-control"  [(ngModel)]="etablissement.reference">
                </div>
                <div class="col-md-6">
                  <label >Nom d'Etablissement</label>
                  <input type="text" class="form-control"  [(ngModel)]="etablissement.nom" >
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-info btn-block" [disabled]="etablissement.reference == null || etablissement.reference==' ' "  (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
