<div class="d-flex justify-content-between">
  <button mat-button (click)="onClose()"><mat-icon>close</mat-icon></button>
</div>

<!---------------------------------------------------------------------------------------------------------->

<div class="container-fluid text-left">
  <h1 class="text-center text-dark mb-4"><label><strong>{{doctorant.nom}} </strong></label><label><strong> {{doctorant.prenom}} </strong></label></h1>
  <div class="row mb-3">
    <div class="col">
      <div class="card shadow mb-3">
        <div class="card-header py-3">
          <p class="text-left text-primary m-0 font-weight-bold">Information Personnel: </p>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label >
                    <strong>CIN :   </strong>
                  </label><label >
                  {{doctorant.cin}}
                  </label>
                  <input type="text" class="form-control" name="cin" [(ngModel)]="directeurDeThese.doctorant.cin" [(ngModel)]="soutenance.doctorant.cin" [(ngModel)]="doctorant.cin"/>
                </div>
                <div class="form-group">
                  <label ><strong>CNE :  </strong>
                  </label>
                  <label >
                    {{doctorant.cne}}
                  </label>
                  <input type="text" class="form-control"  name="cne" [(ngModel)]="doctorant.cne"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label >
                    <strong>Email Address :  </strong>
                  </label>
                  <label>
                    {{doctorant.email}}
                  </label>
                  <input type="email" class="form-control"  name="email" [(ngModel)]="doctorant.email"/>
                </div>
                <div class="form-group">
                  <label >
                    <strong>Telephone : </strong>
                  </label>
                  <label >
                   {{doctorant.tel}}
                  </label>
                  <input type="text" class="form-control"  name="tel" [(ngModel)]="doctorant.tel"/>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label >
                    <strong>Sexe :  </strong>
                  </label>
                  <label >
                    {{doctorant.sexe}} 
                  </label>
                  <input type="text" class="form-control"  name="sexe" [(ngModel)]="doctorant.sexe"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label >
                    <strong>Date Inscription :  </strong>
                  </label>
                  <label >
                    {{doctorant.dateInscription}}
                  </label>
                  <input class="form-control" name="dateInscription"  type="date"
                         [(ngModel)]="doctorant.dateInscription " />
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm text-center" type="submit" (click)="update(doctorant, doctorant.id)">Edite</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Information Sur Sa Doctorat :</p>
            </div>
            <div class="card-body">
              <form>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label>
                      <strong>Structure De Recherche:     </strong>
                      </label>
                      <label>
                        {{doctorant.structureDeRecherche.title}}
                      </label>
                      <select class="form-control" name="doctorant-structure" [(ngModel)]="doctorant.structureDeRecherche.reference">
                        <optgroup label="liste des structures de recherches">
                        <option *ngFor="let s of structures" [value]="s.reference" selected>{{s.title}} ({{s.etablissement.reference}}) </option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group">
                      <label >
                        <strong>Sujet De Thèse : </strong>
                      </label>
                      <label >
                        {{doctorant.sujet.libelle}}
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label >
                        <strong>Specialité:   </strong>
                      </label>
                      <label >
                        {{doctorant.specialite.libelle}}
                      </label>
                      <select class="form-control" name="doctorant-specialité" [(ngModel)]="doctorant.specialite.reference">
                        <optgroup label="liste des spécialités">
                          <option *ngFor="let s of specialites" [value]="s.reference" selected>{{s.libelle}}</option>
                        </optgroup>
                      </select>
                    </div>
                    <div
                      class="form-group">
                      <label >
                        <strong>Directeur De Thèse :  </strong>
                      </label>
                      <label >
                        {{directeurDeThese.professeur.nom}} {{directeurDeThese.professeur.prenom}}
                      </label>
                      <select class="form-control"  name="doctorant-directeur" [(ngModel)]="directeurDeThese.professeur.cin">
                        <optgroup label="liste des professeurs">
                          <option *ngFor="let p of professeurs" [value]="p.cin" selected>{{p.cin}}-{{p.nom}} {{p.prenom}}-{{p.specialite.libelle}} </option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" (click)="updateDirecteur(directeurDeThese, directeurDeThese.id)">Editer</button></div>
              </form>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Les Rapporteurs : </p>
            </div>
            <div class="card-body">
              <form>
                  <h4 class="text-center text-primary">Liste Des Rapporteurs</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th scope="col">Nom</th>
                        <th scope="col"> Prénom</th>
                        <th scope="col"> Spécialité</th>
                        <th scope="col"> Date de Dérnière Publication</th>
                        <th scope="col">Avis</th>
                        <th scope="col"> <span class="fa fa-user-times "></span> </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let r of rapporteurs">
                        <td>{{r.professeur.nom}}</td>
                        <td>{{r.professeur.prenom}}</td>
                        <td>{{r.professeur.specialite.libelle}}</td>
                        <td>{{r.professeur.dateDernierePublication}}</td>
                        <td><input type="text" name="avis" class="form-control" [(ngModel)]="r.avis"></td>
                        <button class="btn btn-danger btn-sm fa fa-trash mt-3" (click)="deleteByProfCin(r)" ></button>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Editer</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-5">
    <div class="card-body">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h3 class="text-left text-primary font-weight-bold m-0">Soutenance </h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                    <label >
                      <strong>Reference :   </strong>
                    </label>
                    <label >
                      <strong>{{soutenance.reference}}</strong>
                    </label>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label >
                      <strong>Date : </strong>
                    </label>
                    <label >
                      <strong >{{soutenance.dateSoutenance}} / {{soutenance.heureSoutenance}} </strong>
                    </label>
                </div>
              </div>
            </div>
              <div>
              <h4 class="text-center text-primary">Liste Des Jurys</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th> Prénom</th>
                    <th> Spécialité</th>
                    <th> Date de Dèrnière Publication</th>
                    <th>Avis</th>
                    <th scope="col"> <span class="fa fa-user-times "></span> </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let j of juryDetails">
                    <td>{{j.professeur. nom}}</td>
                    <td>{{j.professeur.prenom}}</td>
                    <td>{{j.professeur.specialite.libelle}}</td>
                    <td>{{j.professeur.dateDernierePublication}}</td>
                    <td>{{j.avis}}<input type="text" name="avis" class="form-control" [(ngModel)]="j.avis"></td>
                    <button class="btn btn-dark btn-sm fa fa-edit mt-3" (click)="updateJury(j,j.id)"  ></button>
                  </tr>
                  </tbody>
                </table>
                <div class="col">
                  <div class="form-group">
                    <label >
                      <strong>Résultat : </strong>
                    </label>
                    <label >
                      <strong >{{soutenance.resultatFinal}}  </strong>
                    </label>
                    <input type="text" class="form-control col-md-4"  name="resultat" [(ngModel)]="soutenance.resultatFinal"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Editer</button></div>
          </form>
        </div>
      </div>
      <div class="card shadow mb-5">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Documents</p>
        </div>
        <div class="card ">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-md-3 d-none d-lg-flex">
              <div class="flex-grow-1 bg-image"></div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4"> <strong>Article</strong> </h4>
                </div>
                <div class="form-group">
                  <label ><strong>Titre :  </strong></label>
                  <label >7 moyens simples de protéger votre vie privée sur Internet </label>
                </div>
                <div class="form-group"><label ><strong>Mot Clés :  </strong></label>
                  <label >NSA, bout-en-bout, Chiffrement, TLS et IPsec </label>
                </div>
                <div class="form-group">
                  <label ><strong>Indexation :  </strong></label>
                  <label >Thomson Reuthers </label>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="card ">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-md-3 d-none d-lg-flex">
                <div class="flex-grow-1 bg-image"></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="text-dark mb-4"> <strong>Article</strong> </h4>
                  </div>
                  <div class="form-group">
                    <label ><strong>Titre :  </strong></label>
                    <label >7 moyens simples de protéger votre vie privée sur Internet </label>
                  </div>
                  <div class="form-group"><label ><strong>Mot Clés :  </strong></label>
                    <label >NSA, bout-en-bout, Chiffrement, TLS et IPsec </label>
                  </div>
                  <div class="form-group">
                    <label ><strong>Indexation :  </strong></label>
                    <label >Thomson Reuthers </label>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-md-3 d-none d-lg-flex">
                <div class="flex-grow-1 bg-image"></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="text-dark mb-4"> <strong>Article</strong> </h4>
                  </div>
                  <div class="form-group">
                    <label ><strong>Titre :  </strong></label>
                    <label >7 moyens simples de protéger votre vie privée sur Internet </label>
                  </div>
                  <div class="form-group"><label ><strong>Mot Clés :  </strong></label>
                    <label >NSA, bout-en-bout, Chiffrement, TLS et IPsec </label>
                  </div>
                  <div class="form-group">
                    <label ><strong>Indexation :  </strong></label>
                    <label >Thomson Reuthers </label>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>

