<div class="container mt-2">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title text-center"> Liste Des Doctorants Inscrient </h1>
    </div>
    <div class="card-body">
      <div class="container ">
        <div class="form-group row mb-4">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)] = "Tablesearch">
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="text-center thead-dark">
          <tr>
            <th scope="col"> CNE </th>
            <th scope="col"> Nom </th>
            <th scope="col"> Prenom </th>
            <th scope="col"> <span class="fa fa-user-times "></span> </th>
            <th scope="col"> <span class="fa fa-address-card "></span> </th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let doctorant of inscrit | filter:Tablesearch | paginate: { itemsPerPage: 5 , currentPage: page}">
            <td> {{doctorant.cne}} </td>
            <td> {{doctorant.nom}} </td>
            <td> {{doctorant.prenom}} </td>
            <td>
              <button class="btn btn-danger btn-sm fa fa-trash" (click)="deleteByCin(doctorant)" ></button>
            </td>
            <td>
              <button class="btn btn-info btn-sm fa fa-info-circle" (click)="findByCin(doctorant);findByDoctorantCin(doctorant);
              findRapporteurByDoctorantCin(doctorant);findDirecteurByDoctorantCin(doctorant)" ></button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="container row justify-content-center">
          <pagination-controls class="pagination justify-content-center  pageColor" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
