<div class="col-md-12 margin">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title text-center"> Table Des Doctorants</h1>
    </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
        <th> CIN </th>
        <th>CNE </th>
        <th> Etablissement </th>
        <th > Responsable </th>
        <th> Email du Responsable </th>
        <th> Actions </th>
        </thead>
        <tbody>
        <tr *ngFor="let s of doctorants">
          <td> {{s.cin}} </td>
          <td> {{s.cne}} </td>
          <td> {{s.email}} </td>
          <td> {{s.nom}} </td>
          <td> {{s.prenom}} </td>
          <td>
            <button class="btn btn-danger btn-sm fa fa-trash" ></button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

