<mat-nav-list>
  <div class="container">
    <div class="navbar-brand ml-1 mt-3 mb-4 crimson">CED-Professeur</div>
  </div>
  <div class="container sideNavListe">
    <a mat-list-item routerLink="dashboard-info">
      <mat-icon class="mr-2" color="primary">dashboard</mat-icon>
      <span class="sideNavListe" color="primary">Dashboard</span>
    </a>
    <a mat-list-item routerLink="profile">
      <mat-icon class="mr-2" color="primary">face</mat-icon>
      <span class="sideNavListe" color="primary">Profile</span>
    </a>
    <a mat-list-item routerLink="doctorants">
      <mat-icon class="mr-2" color="primary">apartment</mat-icon>
      <span class="sideNavListe" color="primary">Soutenance</span>
    </a>
  </div>
</mat-nav-list>
