
<div class="container">
  <div class="card mt-4">
    <div class="card-header text-center text-primary font-weight-bold">
      <h2 class="text-center"> Information Personnel</h2>
    </div>
    <div class="card-body">

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder"></p>
              </div>
              <div class="container  col-sm-6 col-md-6">
                <p> {{professeur.nom}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder"> </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p> {{professeur.prenom}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">CIN: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{professeur.cin}}</p>
              </div>
            </div>
            <p> </p>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Email Address: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{professeur.user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Telephone:  </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{professeur.tel}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Sexe: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{professeur.sexe}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Date Du Dernière Publication: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{professeur.dateDernierePublication}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

