<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="row">
<div class="col-md-3  "><div class="card documents ">
  <div class="card-header" ><strong>Documents Importants</strong></div>
  <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div></div>
<div class="col-md-9">
<main class="page lanidng-page">
  <div class="portfolio-block block-intro">
    <div class="container">
      <div class="avatar"></div>
      <div class="about-me">
        <p><strong>Le Centre D'étude Doctorale</strong>
           de la Faculté Des Sciences et Thechnique Marrakech
          met à la disposition de ses Doctorants se site qui vise à facilité l'interraction entre les Doctorants et le CED-FSTG
        </p>
    </div>
  </div>
  <section class="portfolio-block photography">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="soutnance" class="img-fluid image" src="../../../assets/images/la-soutenance.jpg" /></a></div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="souvenir" class="img-fluid image" src="../../../assets/images/soutenir.jpg" /></a></div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img alt="soutnance" class="img-fluid image" src="../../../assets/images/rapport-de-stage-3.jpg" /></a></div>
      </div>
    </div>
  </section>
  <section class="portfolio-block skills">
    <div class="container">
      <div class="heading">
        <h1><strong>Services :</strong> </h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title"><strong>Doctorant</strong></h3>
              <div class="card-text">Etant Doctorant vous êtes emmener a suivre les étapes suivantes :
              <p>1- Après avoir remplis la fiche d'inscription version papier,
              il faut s'inscrire d'après le lien suivant <a class="link " routerLink="/inscription">Inscription</a></p>
              <p>2- Après la vérification de votre inscription de la part de l'administration, et sa confirmation,
              Finalement vous avez le droit à <a class="link " routerLink="/login"> s'Authentifier </a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title"><strong>Directeur De Thèse </strong></h3>
              <div class="card-text">
                <p>
                  Etant Directeur De Thèse vous recevez votre login et mot de passe de la part de l'administration, et vous aurez le droit de consulter
                  les informations et les documents des doctorants que vous encadrez.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title"><strong>Soutenance</strong></h3>
              <div class="card-text">
                Depuis votre compte vous avez l’accès au informations nécessaire sur vos rapporteur et votre soutenance,
                sa date, heure et ses Jurys plus leur avis sur votre travail.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</main>
</div>
</div>
<div class="adresse" >
  <label ><strong>Téléphone : </strong></label>
  <label >+212 (0)524 43 46 49 poste 110</label>

  <label ><strong>Télécopie : </strong></label>
  <label >+212 (0)524 43 74 12  /  67 69 </label>

  <label ><strong>Adresse postale : </strong></label>
  <label >Boulevard Prince Moulay Abdallah
  BP 2390, 40000, Marrakech, Maroc</label>
</div>
