
.portfolio-block {
  padding-bottom: 20px;
  padding-top: 40px;
}



.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-image: url("../../../assets/images/fstg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}
.portfolio-block.photography img {
  width: 100%;
  height: 100%;

}
.portfolio-block.block-intro {
  text-align: center;
}
.documents {
  color: #673ab7;
  text-align: center;
}
.row {
  background-color: #faeeec;
}

label {
  margin-left: 30px;
}
.adresse{
  margin-left: 60px;
}
