<mat-tab-group>
  <mat-tab label="Listes Des Professeurs">
    <app-list-professeurs></app-list-professeurs>
  </mat-tab>
  <mat-tab label="Ajout d'un Professeur">
    <app-ajout-professeur></app-ajout-professeur>
  </mat-tab>
  <mat-tab label="Listes Des Directeurs de Thèses">
    <app-list-directeur-theses></app-list-directeur-theses>
  </mat-tab>
  <mat-tab label="Affectation d'un Directeur De Thèse">
    <app-ajout-directeur-these></app-ajout-directeur-these>
  </mat-tab>
  <mat-tab label="Listes Des Jurys">
    <app-list-jurys></app-list-jurys>
  </mat-tab>
  <mat-tab label="Affectation des Rapporteurs">
    <app-ajout-rapporteurs></app-ajout-rapporteurs>
  </mat-tab>
  <mat-tab label="Listes Des Rapporteurs">

  </mat-tab>
</mat-tab-group>
