<div class=" col-md-12 margin" >

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title text-center"> Table Des Structures De Recherches</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-center thead-dark">
            <tr>
              <th scope="col"> Reference </th>
              <th scope="col"> Titre </th>
              <th scope="col"> Etablissement </th>
              <th scope="col"> Responsable </th>
              <th scope="col"> Email du Responsable </th>
              <th scope="col"> <span class="fa fa-user-times "></span> </th>
            </tr>
            </thead>
            <tbody class="text-center">
            <tr *ngFor="let s of structures">
              <td> {{s.reference}} </td>
              <td> {{s.title}} </td>
              <td> {{s.etablissement.nom}} </td>
              <td> {{s.responsable}} </td>
              <td> {{s.emailRespo}} </td>
              <td>
                <button class="btn btn-danger btn-sm fa fa-trash" (click)="deleteByReference(s)"></button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
