
<!-- <div class="container">
  <table mat-table [dataSource]="etablissements" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="reference">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Reference </th>
      <td mat-cell *matCellDef="let data"> {{data.reference}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nom d'Etablissement </th>
      <td mat-cell *matCellDef="let data"> {{data.nom}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef ="displayedColumns"></tr>
    <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
  </table>

</div> -->

<div class=" col-md-12 mt-3" >

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title text-center"> Table Des Etablissements</h1>
      </div>
      <div class="card-body">
        <div class="container ">
          <div class="form-group row mb-4">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)] = "Tablesearch">
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-center thead-dark">
              <tr>
                <th > Reference </th>
                <th> Nom d'Etablissement </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let e of etablissements | filter:Tablesearch | paginate: { itemsPerPage: 5 , currentPage: page}">
                <td> {{e.reference}} </td>
                <td> {{e.nom}} </td>
                <td>
                  <button class="btn btn-danger btn-sm fa fa-trash" (click)="deleteByReference(e)"></button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
