
<!-- <div class="container">
  <table mat-table [dataSource]="etablissements" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="reference">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Reference </th>
      <td mat-cell *matCellDef="let data"> {{data.reference}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Nom d'Etablissement </th>
      <td mat-cell *matCellDef="let data"> {{data.nom}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef ="displayedColumns"></tr>
    <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
  </table>

</div> -->

<div class=" col-md-12 mt-3" >

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title text-center"> Table Des Etablissements</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="text-center thead-dark">
              <tr>
                <th > Reference </th>
                <th> Nom d'Etablissement </th>
                <th> Actions </th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let e of etablissements">
                <td> {{e.reference}} </td>
                <td> {{e.nom}} </td>
                <td>
                  <button class="btn btn-danger btn-sm fa fa-trash" (click)="deleteByReference(e)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- test mat table-->

<div class="container mt-4 mb-4">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>

  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
      <td mat-cell *matCellDef="let e">{{e.reference}}  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="etablissement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Etablissement </th>
      <td mat-cell *matCellDef="let e">{{e.nom}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let e"><button mat-icon-button (click)="deleteByReference(e)"><mat-icon color="warn">delete</mat-icon> </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
