mat-sidenav-container , mat-sidenav-content , mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 300px;
  background-color: rgba(14, 0, 150, 0.64);
  color: white ;
  text-align: center;
}
.margin{
  margin-top: 300px;
}

