
<div class="container">
  <div class="card mt-4">
    <div class="card-header text-center text-primary font-weight-bold">
      <h2 class="text-center"> Information Personnel</h2>
    </div>
    <div class="card-body">

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Nom: </p>
              </div>
              <div class="container  col-sm-6 col-md-6">
                <p>{{doctorant.nom}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Prenom: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.prenom}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">CIN: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.cin}}</p>
              </div>
            </div>
            <p> </p>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">CNE: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.cne}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Email Address: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.user.email}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Telephone: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.tel}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Sexe: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.sexe}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Date Inscription: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.dateInscription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Directeur de these: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{directeur.professeur.nom}} {{directeur.professeur.prenom}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Sujet: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.sujet.libelle}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Structure de recherche: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.structureDeRecherche.title}}</p>
              </div>
            </div>
          </div>
          <div class="container col-md-6">
            <div class="row">
              <div class="container col-sm-6 col-md-6">
                <p class="font-weight-bolder">Specialite: </p>
              </div>
              <div class="container col-sm-6 col-md-6">
                <p>{{doctorant.specialite.libelle}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
