<app-nav></app-nav>

<div class="container align color mt-5" color="primary">
  <div class="container ">
    <h1 class="inscrire-size" >S'inscrire</h1>
  </div>

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informations Générales </ng-template>
        <div class="container color" >
          <div class="row">
            <div class="container-fluid  col-sm-12 col-md-6">
              <mat-form-field class="full-width"  floatLabel="auto">
                <mat-label>CIN</mat-label>
                <input formControlName="cinCtrl" type="text" matInput required [(ngModel)]="doctorant.cin">
              </mat-form-field>
            </div>
            <div class="container-fluid  col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>CNE</mat-label>
                <input formControlName="cneCtrl" [formControl]="requiredFormControlCne" type="text" matInput required [(ngModel)]="doctorant.cne">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>Nom</mat-label>
                <input formControlName="nomCtrl"  type="text" matInput required [(ngModel)]="doctorant.nom">
              </mat-form-field>
            </div>
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>Prénom</mat-label>
                <input formControlName="prenomCtrl"   type="text" matInput required [(ngModel)]="doctorant.prenom">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>Telephone</mat-label>
                <input formControlName="telCtrl"  type="tel" matInput required [(ngModel)]="doctorant.tel">
              </mat-form-field>
            </div>
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label aria-placeholder="homme ou femme">sexe</mat-label>
                <input formControlName="sexeCtrl"   type="text" matInput required [(ngModel)]="doctorant.sexe">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Apropos de votre Etude Doctorale</ng-template>
        <div class="container color" >
          <div class="row">
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>Sujet de thèse</mat-label>
                <input formControlName="sujetCtrl"  type="text" matInput required [(ngModel)]="doctorant.sujet.libelle">
              </mat-form-field>
            </div>
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width " floatLabel="auto">
                <mat-label>Choisir une Spécialité </mat-label>
                <mat-select   formControlName="specialiteCtrl" [(ngModel)]="doctorant.specialite.reference" >
                  <mat-option>Aucun</mat-option>
                  <mat-option value="valid"  *ngFor="let s of specialites " [value]="s.reference  " ngDefaultControl>{{s.libelle}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="container col-sm-12 col-md-6">
              <mat-form-field class="full-width" class="Select-size">
                <mat-label>Choisir une Structure De Recherche </mat-label>
                <mat-select   formControlName="structureCtrl" [(ngModel)]="doctorant.structureDeRecherche.reference" >
                  <mat-option>Aucun</mat-option>
                  <mat-option style="width:2000px; font-size: 14px;" value="valid"   *ngFor="let s of structures" [value]="s.reference  " ngDefaultControl>{{s.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>A propos de votre Compte </ng-template>
        <div class="container color" >
          <div class="row">
            <div class="container-fluid  col-sm-12 col-md-6">
              <mat-form-field class="full-width"  floatLabel="auto">
                <mat-label>Email</mat-label>
                <input formControlName="emailCtrl" type="text" matInput required [(ngModel)]="doctorant.user.email">
              </mat-form-field>
            </div>
            <div class="container-fluid  col-sm-12 col-md-6">
              <mat-form-field class="full-width" floatLabel="auto">
                <mat-label>Password</mat-label>
                <input formControlName="passwordCtrl"  type="password" matInput required [(ngModel)]="doctorant.user.password">
              </mat-form-field>
              <mat-form-field class="full-width" *ngIf="hideField">
                <mat-select   formControlName="structureCtrl" [(ngModel)]="doctorant.user.role.titre" >
                  <mat-option [value]="3" ngDefaultControl>{{roleUser}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <button mat-button matStepperNext (click)="saveDoctorant()">S'inscrire</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Inscription première</ng-template>
      <p>Ton Inscription est faite avec success </p>
      <p>Lors de sa confirmation depuit l'Administration du Centre D'étude Doctorale De la FSTG </p>
      <p>Vous aller recevoir un message dans votre boite email que vous venez d'enregistrer </p>
      <p>A ce moment vous pouvez accéder à votre compte  </p>
      <div >
        page de Log In <a class="link " routerLink="/login"> Log in</a>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>



